
.box {
  background-color: $col-body-sec;
  border-radius: $border-radius-md;
  padding: $sp-y-md $sp-x-md;

  &--sm {
    width: $x-sm;
    height: $y-sm;
  }

  &--md {
    width: $x-md;
    height: $y-md;
  }

  &--lg {
    width: $x-lg;
    height: $y-lg;
  }
}