
.fader {
	position: relative;

	& > * {
		position: relative;
		z-index: 2;
	}

	&__value {
		position: absolute;
		z-index: 1;

		left: 0;
		bottom: 0;
		width: 100%;

		background-color: $col-body-ter;
	}
}