
.fader {
	background-color: $col-pri;
	touch-action: none;
	

	&__value {
		position: absolute;
		z-index: 1;

		left: 0;
		top: 0;
		width: 100%;

		background-color: rgba($col-body-pri, 0.7);
		box-shadow: 0 10px 26px 0 rgba($col-white, 0.05);
	}
}