@use "sass:math";

$icon-path: "../../../midi-frontend/icons.svg";
$icon-map-width: 5;
$icon-map-height: 5;
$icon-map: [
	"", "off", "sun", "", "",
	"chill", "party", "rave", "rainbow", "",
	"hexagon", "sunstripe", "moving-head", "bulb", "",
	"", "", "", "", "",
	"left", "right", "", "", "",
];

.i {
  display: block;

  aspect-ratio: 1/1;

  min-height: 30px;
  min-width: 30px;

  background-image: url($icon-path);
  background-size: ($icon-map-height * 100%) ($icon-map-width * 100%);

  @for $y from 1 through $icon-map-height {
    @for $x from 1 through $icon-map-width {
      &--#{nth($icon-map, ($y - 1) * $icon-map-width + $x)} {
        background-position: (math.div(100%,($icon-map-width - 1))*($x - 1)) (math.div(100%, ($icon-map-height - 1))*($y - 1));
      }
    }
  }
}