@use "sass:math";

$icon-path: "../../../midi-frontend/icons.svg";
$icon-map-width: 8;
$icon-map-height: 8;
$icon-map: [
	"", "off", "sun", "moon", "rainbow", "fog", "lightning", "",
	"chill", "party", "rave", "", "", "", "", "",
	"hexagon", "sunstripe", "moving-head", "bulb", "bulbs", "led-bar", "led-bars", "spotlight",
	"counter-front", "counter-back", "bottles", "", "", "", "", "",
	"left", "right", "close", "", "", "", "", "",
	 "", "", "", "", "", "", "", "",
	 "", "", "", "", "", "", "", "",
	 "", "", "", "", "", "", "", "",
];

.i {
  display: block;

  aspect-ratio: 1/1;

  min-height: 10px;
  min-width: 10px;

  background-image: url($icon-path);
  background-size: ($icon-map-height * 100%) ($icon-map-width * 100%);

  @for $y from 1 through $icon-map-height {
    @for $x from 1 through $icon-map-width {
      $name: nth($icon-map, ($y - 1) * $icon-map-width + $x);
      @if $name != "" {
        &--#{$name} {
          background-position: (math.div(100%,($icon-map-width - 1))*($x - 1)) (math.div(100%, ($icon-map-height - 1))*($y - 1));
        }
      }
    }
  }
}