@use 'sass:math';

$sw-min-options: 2;
$sw-max-options: 12;

$sw-radius: 180px;
$sw-option-height: 60px;

$sw-padding: 20px;

.select-wheel {
  position: relative;

  @extend .flex;
  @extend .flex--stretch;

  &__inner {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    pointer-events: none;

    transition: opacity 0.15s ease-in-out;
    opacity: 0;
  }

  &__background {
    display: block;
    position: absolute;
    z-index: -1;
    height: 2 * ($sw-radius);
    width: 2 * ($sw-radius);
    top: -$sw-radius;
    left: -$sw-radius;
  }

  &__option {
    width: $sw-radius - $sw-padding;
    height: $sw-option-height;

    position: absolute;
    top: -$sw-option-height * 0.5;

    transform-origin: left center;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: $sp-x-lg;

    .i {
      height: 100%;
      transform-origin: center;
    }

    p {
      text-align: center;
      transform-origin: center;
    }

    &__background-container {
      position: absolute;
      height: 2 * ($sw-radius);
      width: 2 * ($sw-radius);
      top: -$sw-radius + $sw-option-height * 0.5;
      left: -$sw-radius;
      border-radius: $sw-radius;
      overflow: hidden;
    }

    &__background {
      position: relative;
      left: 50%;
      top: 50%;

      box-sizing: content-box;
      width: 0;
      height: 0;
      border-color: #fff;
      border-style: solid;
    }
  }

  &--open {
    .select-wheel__inner {
      opacity: 1;
    }
  }

  @for $num-options from $sw-min-options through $sw-max-options {
    $slice-angle: math.div(360deg, $num-options);
    $triangle-height: math.tan($slice-angle * 0.5) * $sw-radius;

    &--#{$num-options} {
      @for $option from 1 through $num-options {
        $position-angle: ($option - 1) * $slice-angle - 90deg;

        .select-wheel__option:nth-child(#{$option}) {
          transform: rotate($position-angle);

          i, p {
            transform: rotate(-$position-angle);
          }

          .select-wheel__option__background {
            margin-top: -$triangle-height;
            border-width: $triangle-height $sw-radius $triangle-height 0;
          }
        }
      }
    }
  }

  .select-wheel__option__background {
    opacity: 0.1;
  }

  @for $option from 1 through $sw-max-options {
    &--hovered--#{$option - 1} .select-wheel__option:nth-child(#{$option}) {
      .select-wheel__option__background {
        opacity: 0.5;
      }
    }
    &--selected--#{$option - 1} .select-wheel__option:nth-child(#{$option}) {
      .select-wheel__option__background {
        opacity: 1.0;
      }
    }

  }

}